# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Notes
notes.txt
asionotes.txt
socketproblems.txt

# Examples
ex_asynchronous.cpp
example_client.cpp
example_server.cpp

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Executables
LocalChat

# Misc
.DS_Store